body {
    color: #fff6e9;
    background-color: #6e8999;
}

.tegomin {
    font-family: "New Tegomin", serif;
    font-weight: 400;
    font-style: normal;
}

.nixie {
    font-family: "Nixie One", serif;
    font-weight: 400;
    font-style: normal;
}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
