body {
    /*background-color: #dfd6c9;*/
    font-family: 'Consolas', monospace;
    background-color: #111;
    background-image: url("window\ wip1.png");
    padding-left: 5%;
    padding-top: 1%;
    /*color: #3e7989; */
    padding-left: 7em;
    padding-top: 1em;
    /* color: #fff6e9; background-color: #6e8999;*/
}

/*
#title {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    padding-left: 2em;
    padding-right: 2em;

    border: 0.3em solid #2e5979;
    border-radius: 0.5em;
}

#cityline {
    text-align: center;
    color: #3e7989;
    font-size: 1.5em;
}

#city {
    text-align: center;
    color:#2e5979;
    margin: 0;
}

#mainline {
    margin: 0.25em;
    text-align: center;
    font-size: xx-large;
}
*/

#timetemp {
    font-size: 3.0em;
    color: #2e5979;
    color: #2c2;
    color: #5b83db;
}

#highlow {
    font-size: 1.5em;
    color: #3e6989;
    color: #2a2;
    color: #5f65c5;
}

#solar {
    font-size: 1.5em;
    color: #4e7999;
    color: #282;
    color: #8c5880;
}

/**********/                 /**********/
/********** font stuff below **********/
/**********/                 /**********/
.tegomin {
    font-family: "New Tegomin", serif;
    font-weight: 400;
    font-style: normal;
}

.nixie {
    font-family: "Nixie One", serif;
    font-weight: 400;
    font-style: normal;
}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-mono-may {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}